.about {
  padding: 2rem clamp(1.5rem, 6vw, 7rem);
  min-height: 100vh;
}

.about__container {
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__typography {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: clamp(1.5rem, 8vw, 7rem);
  font-size: clamp(4rem, 10vw, 8rem);
  text-transform: uppercase;
  line-height: 5rem;
  font-weight: 900;
  color: #ffffff31;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  z-index: 2;
}

.about__text {
  width: min(60%, 850px);
  line-height: 1.35;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: clamp(1.6rem, 3vw, 2.5rem);
  z-index: 3;
}

.about__outline {
  color: rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.about__outline:hover {
  -webkit-text-fill-color: var(--text-color);
}

.about__button a {
  color: var(--text-color);
  text-decoration: underline;
  font-size: 1.5rem;
}

/* breakpoints */
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .about__text {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .about {
    padding: 0 1.5rem;
  }

  .about__typography {
    left: 2rem;
    font-size: clamp(3rem, 15vw, 5rem);
    line-height: 5rem;
    font-weight: 900;
  }
  .about__text {
    width: 100%;
    line-height: 1.35;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: clamp(1.55rem, 8vw, 2.5rem);
    z-index: 3;
  }
  .about__button a {
    color: var(--text-color);
    text-decoration: underline;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
}
