.header {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.header__image-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.header__image {
  background: url("../../assets/apple.jpg");
  position: end;
  width: min(500px, 72vw);
  height: min(600px, 78vh);
  background-size: cover;
  margin: 0 auto;
  box-shadow: inset 0 0 0 13px rgb(255 255 255 / 30%);
}

.text__filled,
.text__outline {
  position: absolute;
  text-transform: uppercase;
  font-style: var(--font-style-typography);
  bottom: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: -1;
  pointer-events: none;
  color: white;
}

.text__outline {
  color: white;
  z-index: 2;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.to-left {
  bottom: 18.3rem;
}

.title {
  white-space: nowrap;
  font-size: clamp(3.25rem, 10vw, 8rem);
  position: absolute;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* breakpoints */
@media screen and (max-width: 992px) {
  .title {
    font-size: clamp(3rem, 11vw, 6rem);
  }
}
@media screen and (max-width: 768px) {
  .header {
    min-height: 100svh;
  }
  .header__image-container {
    height: 100svh;
  }
  .to-left {
    bottom: 16rem;
  }
}
@media screen and (max-width: 576px) {
  .header__image-container {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .header__image {
    width: min(350px, 82vw);
    height: min(350px, 55vh);
  }
  .title {
    font-size: clamp(2.15rem, 12vw, 4rem);
  }
  .text__filled,
  .text__outline {
    bottom: 9rem;
  }
  .to-left {
    bottom: 13rem;
  }
}
@media screen and (max-width: 350px) {
}
